@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
link {
  text-decoration: none;
}
body{
  background-color: black;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.form-label{
  color:white;
}

.form-check-label{
  color:white;
}

.ripple, .ripple:hover{
  background-color: black;
}